.App{
  margin: 0;
  padding: 0;
  height: 100%;
  width:100vw;
  display: flex;
  flex-direction: column;
  background-color: #3B4252;
  color: #E5E9F0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.Visualization-Container{
  height: 80vh;
  width: 100vw;
}

.NavBar{
  height: 6vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Map-Selection{
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 15vw;
  height: 5vh;
  margin-left: 2vh;
  margin-right: 2vh;
  background-color: #D08770;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  margin-top: 4vh;
  align-items: center;
  border: rgba(0,0,0,0.5);
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  cursor: pointer;
  font-weight: bold;
}

.btn-current{
  width: 15vw;
  height: 5vh;
  margin-left: 2vh;
  margin-right: 2vh;
  background-color: #a3be8c;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  margin-top: 4vh;
  align-items: center;
  border: rgba(0,0,0,0.5);
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.10);
  background-color: #88C0D0;
}

.btn-current:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.10);
  background-color: #88C0D0;
}

.Visualiztion-Row{
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
}

.Stats{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 20vw;
  margin-left: 9px;
  margin-right: 9px;
  padding-bottom: -9px;
}

.Map-Component-Container{
  height: 80vh;
  width: 60vw;
  margin-left: 9px;
  margin-right: 9px;
  padding-bottom: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #4C566A;
  font-size: small;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  text-align: center;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Bar{
  width:20vw;
}

.Pie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caseFatality{
  width:100%;
  height: 100%;
}

.totalDeaths{
  width:100%;
  height: 100%;
}

.disclaimer{
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  text-align: center;
}

.stats-heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3vh;
  margin-top: 2vh;
  padding-bottom: 4vh;
}

.card-text-container{
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: small;
}
.line-container{
  display: flex;
  justify-content: space-evenly
}

#left{
  margin-right: 1vw;
}

.card-title{
  margin-bottom: -1vh;
}

.Map-Selection-responsive{
  display: none;
}

.mobile-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dot-good{
  height: 4vh;
  width: 4vh;
  background-color: #88C0D0;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5vw;
}

.dot-good:hover{
  border-style: solid;
  border-color: #2E3440;
}

.dot-average{
  height: 4vh;
  width: 4vh;
  background-color: #EBCB8B;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5vw;
}

.dot-average:hover{
  border-style: solid;
  border-color: #2E3440;
}

.dot-bad{
  height: 4vh;
  width: 4vh;
  background-color: #D08770;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5vw;
}

.dot-bad:hover{
  border-style: solid;
  border-color: #2E3440;
}

.dot-extreme{
  height: 4vh;
  width: 4vh;
  background-color: #BF616A;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5vw;
}


.dot-extreme:hover{
  border-style: solid;
  border-color: #2E3440;
}

.line{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .btn{
    font-size: x-small;
    width: 20vw;
  }
  .btn-current{
    font-size: x-small;
    width: 20vw;
  }

  .Stats{
    display: none;
  }

  .Map-Component-Container{
    width: 100vw;
  }

}

@media only screen and (max-height: 500px) {
  .btn{
    font-size: x-small;
    width: 20vw;
  }
  .btn-current{
    font-size: x-small;
    width: 20vw;
  }

  .Stats{
    display: none;
  }

  .Map-Component-Container{
    width: 100vw;
  }
}
